rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Deny all client reads and writes since all access is through the trusted server Admin SDK
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
